*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: hsl(212, 45%, 89%);
    --card-bg-color: hsl(0, 0%, 100%);
    --card-title-color: hsl(218, 44%, 22%);
    --card-title-font-size: 22px;
    --card-p-color: hsl(220, 15%, 55%);
    --card-p-font-size: 15px;
    --main-font-family: "Outfit";
}

body {
    background-color: var(--body-bg-color);
    font-family: var(--main-font-family);
}

.container {
    display: flex;
    justify-content: center;
    padding: 2.35rem 1.25rem;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 20px;
    padding: 1rem;
    width: 20rem;
    text-align: center;
}

img.qrcode {
    width: 100%;
    border-radius: 10px;
}

.card h1 {
    color: var(--card-title-color);
    padding: 1.3rem 0 1rem 0;
    font-size: var(--card-title-font-size);
    margin-bottom: 0;
}

.card p {
    color: var(--card-p-color);
    font-size: var(--card-p-font-size);
    padding: 0 1rem 1.5rem 1rem;
}

footer.main-footer {
    padding: 4rem 2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
        padding: 2rem 1.25rem 0 1.25rem;
    }

    .card {
        margin: auto;
        margin-bottom: 4rem;
        min-width: 50%;
    }

    footer.main-footer {
        padding: 2.5rem 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        margin-top: 7rem;
    }
}
